body {
  background-color: #000;
  padding: 0;
  margin: 0;
}
canvas {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

canvas:hover {
   cursor: url(http://www.rw-designer.com/cursor-extern.php?id=65179), pointer;
}

canvas:active {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=60402), pointer;
}

