body {
  background-color: #000;
  padding: 0;
  margin: 0;
  cursor: default;
}
canvas {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

<<<<<<< HEAD
canvas:hover {
   cursor: url(http://www.rw-designer.com/cursor-extern.php?id=65179), pointer;
}

canvas:active {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=60402), pointer;
=======
#header {
  position: relative;
  left: 42%;
  width: 400px;
  height: 100px;
>>>>>>> 737cd9ce47f21df54ced4f00bec09fa877c3c4d6
}
