body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  cursor: default;
}
canvas {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

#header {
  position: relative;
  left: 42%;
  width: 400px;
  height: 100px;
}
